.boxCard{
    border: black solid 2px;
    border-radius: 4em;
    background-color: #D8EEFB;
    padding: 3em;
}

.Blocao{
    padding-left: 30em;
    padding-right: 30em ;
    margin-top : 6em ;
}

.Valor{
    background-color: #E6E6E6;
    padding: 0.4em;
    width: 100%;
}

.imagem{
    width: 60%;
    height: 60%;
}

.Descricao{
    display: flex;
    border: black solid 2px;
  border-radius: 4em;
  background-color: #E6E6E6;
  width: 26vw;
  padding: 1.3em;
  height: 10em;

}

.ImagemETitulo{
    padding-bottom: 4em;
}

.Estrelas{
    padding-top: 2em;
    padding-bottom: 2em;
}

.Botao{
    background-color: #12CDD4;
    padding: 0.8em;
    width: 7em;
}

.BoxBotao{
    padding-top:0.9em;
}