* {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 99vw;
    height: 40vh;

    background-image: url("../../assets/banner.png");
    color: white;
}

.banner h1{
    font-size: 3em;
}

#bandeira {
    background-color: #8ccdff;
    padding: 0em 1em 0em 1em;
}

#azul {
    color: #2D9BF0;
}

.banner i {
    transform: scaleX(-1);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10em;
    width: 99vw;
    height: 70vh;
    padding-bottom: 10em;
}