.boxCard{
    border: black solid 2px;
    border-radius: 2em;
    background-color: #D8EEFB;
    padding: 2em;
}

.Blocao{
    padding-left: 30em;
    padding-right: 30em ;
    padding-top: 5em;
}

.imagem{
    width: 60%;
    height: 60%;
    border-radius: 0.7em;
}

.ImagemETitulo h1{
    padding: 1em;
    font-size: 1.3em;
}

.Descricao{
    display: flex;
    border: black solid 2px;
  border-radius: 1em;
  background-color: #E6E6E6;
  width: 26vw;
  padding: 2em;
  height: 10em;
  align-items: center;

}

.Valor{
    background-color: #E6E6E6;
    padding: 0.7em;
    border-radius: 10px;
    width: 50%;
}


.Estrelas{
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-size: 1.5em;
}

.Botao{
    background-color: #12CDD4;
    padding: 1em;
    border-radius: 1em;
    border: solid black 0.1em;
    text-decoration: none;
}

.BoxBotao{
    padding-top: 2.5em;
}